.input:hover {
    background-color: #1e1f21db !important;
    color: white !important;
}

.b { 
    font-weight: bold;
}

.register .signin {
    background-color: #2d3568db !important;
    border: 1px #2d3568db !important;
    justify-content: center;
    width: fit-content;
    max-width: 20rem;
    align-items: center;
    text-align: center;
}