.nav-buttons {
    display: flex;
    flex-direction: row; /* Default: horizontal layout */
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 1rem;
}

.signin {
    background-color: #2d3568db !important;
    border: 1px #2d3568db !important;
    pointer-events: auto;
    position: relative;
    z-index: 10;
    width: auto;
    padding: 0.5rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-buttons {
        flex-direction: column;
        align-items: flex-end;
    }

    .signin {
        width: 100%;
        max-width: 7rem;
    }
}