.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.body-div {
  padding-top: 2rem;
}

.signinandregister {
  padding-top: 2rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}